FORUM_URL=https://{{FORUM_SUBDOMAIN}}
FLARUM_ADMIN_PASS={{ADMIN_PASSWORD}}
FLARUM_ADMIN_MAIL={{ADMIN_EMAIL}}
DB_PASS={{DB_PASSWORD}}

MYSQL_ROOT_PASSWORD={{DB_PASSWORD}}
MYSQL_PASSWORD={{DB_PASSWORD}}

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER={{SMTP_USER}}
SMTP_PASS={{SMTP_PASS}}
MAIL_FROM_ADDRESS={{SMTP_MAIL_FROM}}

# Flarum debug mode
DEBUG=FALSE
LOG_TO_STDOUT=FALSE