# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
*.backup

# Docker
certs/
.env
.env.*.local
# ↓	explicitly ignore generated .env files at root
/*.env
docker-compose.override.yml

# Boot script artifacts
# ↓	temporary GitHub token file (deleted by postboot.sh)
/root/.netrc

# Logs
*.log

# OS + Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Custom scratch directory
ignored/
